# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.local
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPYo6LZVxl2t9jxzhTs9Bhx3NHJfKq0hKlNmh/MwstjI expoworld112@gmail.com